/* 
users
users top section 
search
Actions
Admin bar
*/
.admin_page-wrapper {
    display: flex;
    flex-flow: row nowrap;
}
.admin_page-wrapper {
    width: 100vw;
    background-color: #fbf4ee;
}
.admin-page-heading h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.side {
    width: 18vw;
    background-color: #fff;
    padding: 50px 0;
    min-height: 100vh;
}
.admin-content {
    padding: 0 0 0 50px;
    width: 82vw;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}
.item-group {
    width: 80%;
    margin: 0 auto;
    list-style: none;
}
.side .item-group a li {
    color: rgb(49,49,49);
    font-size: 16px;
    padding: 15px 20px;
    line-height: 1;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    font-family: var(--font-2);
    border-radius: 8px;
}
.item-section-title {
    width: 80%;
    margin: 20px auto;
    color: rgb(138,138,138);
    font-size: 18px;
    padding: 10px 0px;
    line-height: 1;
    font-family: var(--font-2);
    border-bottom: 1px solid rgb(213,213,213);
}
.side#mobList {
    width: 18vw;
    background-color: #fff;
    display: block;
    min-height: 100vh;
    height: auto;
    position: relative;
    padding: 20px 0;
    z-index: 99;
    top: 0px;
    transform: translateX(0%);
}
@media screen and (max-width: 1560px) {
    .item-section-title {
        font-size: 16px;
    }
    .side .item-group a li {
        font-size: 14px;
        padding: 12px 15px;
    }
}
@media screen and (max-width: 1280px) {
    .admin-content {
        width: 90%;
        margin: 0 auto;
    }
    .side {
        display: none;
    }
    .side#mobList {
        width: 350px;
        padding: 0;
        display: block;
        position: absolute;
        padding: 100px 0 50px 0;
        transform: translateX(-100%);
    }
}
@media screen and (max-width: 414px) {
    .admin-content {
        width: 90%;
        margin: 0px auto;
    }
    .side#mobList {
        width: 300px;
    }
}


/* Users */
.profiles-wrapper {
    width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
    --approve: rgb(9,183,43);
    --unapprove: rgb(239,75,75);
    --trash: rgb(138,138,138);
}
.profiles-header {
    padding: 15px 30px;
    width: 100%;
    background-color: #fff;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 20% 30% 20% 30%;
}
.profiles-body {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}
.profile-head {       
    background-color: #fff;;
}
.profiles-header > div {
    font-size: 15px;
    font-family: var(--font-3);
    color: rgb(75,75,75);
}
.profile {
    width: 100%;
    border-radius: 4px;
    background-color: rgb(249,249,249);
    border: 1px solid rgb(210,208,207);
}
.profile-head {
    width: 100%;
    padding: 15px 30px;
    display: grid;
    align-items: center;
    cursor: pointer;
    grid-template-columns: 30px 20% 30% 20% 30%;
}
.profile-head > div {
    font-size: 15px;
    font-family: var(--font-2);
    color: rgb(62,62,62);
    display: grid;
    align-items: center;
    line-height: 1;
}
.profile-head > div.actions {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
}

.profiles-header > div,
.profile-head > div {
    width: 100%;
}

.profile-body {
    display: none;
}
.profile-body-inner {
    border-top: 1px solid rgb(210,208,207);
    display: grid;    
    grid-template-columns: 200px 800px;
    column-gap: 50px;
    padding: 30px 60px 40px 60px;
    justify-content: flex-start;
}
.profile-body-inner > #col-1  {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.proposal-contact  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#proposal-contact-col-1 {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}
#proposal-contact-col-1 div:nth-child(2) {
    font-size: 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 5px;
}
#proposal-contact-col-1 div:nth-child(2) img {
    width: 40px;
    height: 40px;
}
#proposal-contact-col-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}
#proposal-contact-col-2 div:nth-child(1) {
    font-family: var(--font-2);
}
.proposal-head > #col-1 span:nth-child(1) {
    color: var(--color3);
}

.proposal-info-col {
    display: grid;
    row-gap: 25px;
    width: 100%;
}
.profile-body-inner > #col-3  {
    width: 200px;
}
.proposal-info  {
    display: grid;
    grid-template-columns: 150px 500px;
    width: 100%;
    column-gap: 15px;
}
.proposal-info > span {
    width: 100%;
}
.proposal-info > span:nth-child(1) {
    font-family: var(--font-2);
}
.proposal-info > span:nth-child(2) {
    text-transform: capitalize;
    color: var(--color3);
}
.proposal-photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.proposal-photo img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.btn-link.register-link{
    display: flex;
    color: var(--color4);
    background-color: var(--btn-1);
    font-family: var(--font-2);
    padding: 13px 0px;
    width: 200px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
} 
.filter-trigger-mobile {
    display: none;
}
.profile-arrow {
    display: flex;
    align-items: center;
}
.profile-arrow i {
    font-size: 17px;
    color: rgb(140,140,140);
}
/* Admin bar */
.admin_bar .inner_div {
    width: 95vw;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    align-items: center;
}

.admin_bar .logo {
    font-family: var(--font-3);
    background-color: transparent;
    padding: 15px 0;
    /* width: auto; */
    width: 100px;
    text-align: center; 
    margin: 0;
}

.admin_bar .logo-text  {
    width: inherit;
}

.admin_bar .logo a {
    font-size: 30px;
    color: var(--logo-color); 
    width: inherit;
}
/* .logo a {
    font-size: 30px;
    color: var(--logo-color); 
    width: inherit;
} */
@media screen and (max-width: 1560px) {  
    .admin_bar .logo {
        padding: 5px 0;
        width: 80px;
    }
}
@media screen and (max-width: 414px) {  
    .admin_bar .logo {       
        padding: 10px 0;
        width: 50px;
    }
    .admin_bar .logo a {
        font-size: 18px;
    }
}
#profile-trigger a {
    color: rgb(102, 102, 102);
}
.admin_bar #profile-trigger div:nth-child(1) a {
    color: rgb(102, 102, 102);
}
.admin_bar #profile-trigger i.fa-angle-up:before,
.admin_bar #profile-trigger i.fa-angle-down:before  {
    color: rgb(102, 102, 102);
}
.admin_bar .user-area-pfp-btn #profile-trigger i.fa-angle-up:before,
.admin_bar .user-area-pfp-btn #profile-trigger i.fa-angle-down:before {
    color: rgb(102, 102, 102);
}
/* users top section */
.users-top-section {
    width: 1100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin: 50px auto 0 auto;
}
#show-user-count {
    display: flex;
    flex-flow: column nowrap;
    column-gap: 10px;
}
#show-user-count div:nth-child(1) {
    font-size: 30px;
    font-family: var(--font-2);
    color: rgb(42,42,42);
}
#show-user-count div:nth-child(2) {
    font-size: 15px;
    color: rgb(140,140,139);
}
@media screen and (max-width: 1560px) {  
    .users-top-section {
        width: 1100px;
    }
    .profiles-wrapper {
        width: 1100px;
        margin: 20px auto;
        row-gap: 30px;
    }
    .profiles-header {
        padding: 15px 20px;
        width: 100%;
        column-gap: 8px;
    }
    .profiles-body {
        row-gap: 10px;
    }
    .profiles-header > div {
        font-size: 13px;
        word-break: break-all;
    }
    .profile {
        width: 100%;
        border-radius: 4px;
    }
    .profile-head {
        width: 100%;
        padding: 6px 20px;
        column-gap: 8px;
    }
    .profile-head > div {
        font-size: 13px;
        line-height: 1;
        word-break: break-all;
    }
    .profiles-header > div:nth-child(1) { 
        width: 30px;
    }
    .profile-head > div:nth-child(1) {
        width: 30px;
    }
    .profiles-header > div:nth-child(2),
    .profile-head > div:nth-child(2) {
        width: 180px;
    }
    .profiles-header > div:nth-child(3),
    .profile-head > div:nth-child(3) {
        width: 200px;
    }
    .profiles-header > div:nth-child(4),
    .profile-head > div:nth-child(4) {
        width: 150px;
    }
    .profiles-header > div:nth-child(5),
    .profile-head > div:nth-child(5) {
        width: 130px;
    }
    .profile-body {
        display: none;
    }
    .profile-body-inner {
        padding: 30px 60px 40px 60px;
    }
    .profile-body-inner > #col-1  {
        width: 45%;
    }
    .proposal-head > #col-1 span:nth-child(1) {
        color: var(--color3);
    }
    .proposal-description {
        row-gap: 20px;
    }
    .proposal-description > div:nth-child(1) {
        color: var(--color3);
    }
    .proposal-description > div:nth-child(2) {
        line-height: 1.8;
    }
    .proposal-info-col {
        row-gap: 25px;
        width: 100%;
    }

    .proposal-info  {
        width: 100%;
        column-gap: 15px;
    }
    .proposal-info > span {
        width: 50%;
    }
    .proposal-info > span:nth-child(1) {
        font-family: var(--font-2);
        font-size: 13px;
    }
    .proposal-info > span:nth-child(2) {
        color: var(--color3);
        font-size: 13px;
    }
    .profile-body-inner > #col-3  {
        width: 150px;
    }
    .proposal-photo {
        width: 150px;
        height: 150px;
    }
    .btn-link.register-link{
        padding: 13px 0px;
        width: 200px;
        border-radius: 8px;
    } 
    .filter-trigger-mobile {
        display: none;
    }
    .profile-arrow {
        display: flex;
        align-items: center;
    }
    .profile-arrow i {
        font-size: 17px;
        color: rgb(140,140,140);
    }
}
/* Search */
.searchWrapper form .form-group {
    width: 400px;
    height: 50px;
    display: grid;
    grid-template-columns: auto 50px;
    column-gap: 10px;
}
input[type=text].search-content::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    font-family: var(--font-1);
}
input[type=text].search-content {
    height: inherit;
    border-radius: 8px;
    padding: 0px 50px 0px 20px;
    border: 1px solid rgb(197,193,190);
    background-color: #fff;
}
.searchWrapper form .form-group button[type=submit] {
    width: 50px;
    height: inherit;
    border: 1px solid rgb(197,193,190);
    border-radius: 8px;
    background-color: #fff;
    /* background-color: #107895; */
}
.searchWrapper form .form-group button[type=submit] i {   
    color: rgb(70,70,70);
    font-size: 18px;
}
@media screen and (max-width: 800px) {
    .searchWrapper form .form-group {
        width: 300px;
    }
}
@media screen and (max-width: 414px) {
    .searchWrapper form .form-group {
        width: 350px;
    }
}
/* Actions */
.actions {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 15px;
}
.placeholder-span {
    width: 45px;
    height: 45px;
    display: flex;
}
.actions div:nth-child(1) {
    background-color: var(--approve);
    border-radius: 8px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions div:nth-child(2) {
    background-color: #fff;
    border: 1px solid var(--unapprove);
    border-radius: 8px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions div:nth-child(3) {
    background-color: transparent;
    width: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions div:nth-child(1) i {
    color: #fff;
}
.actions div:nth-child(2) i {
    color: var(--unapprove);
}
.actions div:nth-child(3) i {
    color: var(--trash);
}
@media screen and (max-width: 1560px) {  
    .placeholder-span {
        width: 40px;
        height: 40px;
    }
    .actions {
        column-gap: 10px;
    }
    .actions div:nth-child(1) {
        border-radius: 8px;
        width: 40px;
        height: 40px;
    }
    .actions div:nth-child(2) {
        border-radius: 8px;
        width: 40px;
        height: 40px;
    }
    .actions div:nth-child(3) {
        width: 30px;
        height: 45px;
    }
    .actions div:nth-child(1) i,
    .actions div:nth-child(2) i,
    .actions div:nth-child(3) i {
        font-size: 10px;
    }
}
/* Customization pages */
.admin-page {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;
}
.admin-page-header {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;
}
.admin-page-header div:nth-child(1) {
    font-size: 35px;
    font-family: var(--font-3);
    color: rgb(42,42,42);
}
.admin-page-header div:nth-child(2) {
    font-size: 15px;
    color: rgb(140,140,139);
}
.admin-page-content-title {
    font-size: 16px;
    color: rgb(42,42,42);
    font-family: var(--font-3);
    width: 100%;
    padding: 12px 20px;
    background-color: #fff;
}
div.adminFormBtn {
    width: 140px;
    color: var(--bg-2);
    background-color: var(--font-color-1);
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    font-family: var(--font-1);
    cursor: pointer;
    margin-right: auto;
    margin-top: 20px;
}
@media screen and (max-width: 1560px) {
    .admin-page-header div:nth-child(1) {
        font-size: 30px;
    }
    .admin-page {
        width: 80%;
        margin: 50px auto;
        row-gap: 30px;
    }
    .admin-page-content-title {
        font-size: 14px;
        width: 100%;
        padding: 12px 20px;
    }
    div.adminFormBtn {
        width: 130px;
        padding: 10px 0;
        font-size: 14px;
        border-radius: 6px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 800px) {
    .admin-page {
        width: 100%;
        margin: 50px auto;
        display: flex;
        flex-flow: column nowrap;
        row-gap: 50px;
    }
}
/* Packages */
.package {
    display: flex;
    flex-flow: column nowrap;  
    row-gap: 20px;
}
.package-title {
    font-family: var(--font-3);
    font-size: 20px;
    color: rgb(42,42,42);
}
.package-list {
    display: flex;
    flex-flow: column nowrap;  
    row-gap: 50px;
}
#update-package1 .input-group,
#update-package2 .input-group {
    display: flex;
    flex-flow: column nowrap;
}
#update-package1 .input-group label,
#update-package2 .input-group label {
    font-family: var(--font-2);
    color: rgb(42,42,42);
    margin-bottom: 15px;
}
#update-package1 .input-group input[type=text],
#update-package1 .input-group input[type=number],
#update-package2 .input-group input[type=text],
#update-package2 .input-group input[type=number] {
    background-color: #fff;
    width: 250px;
    border: 1px solid rgb(198,198,198);
    font-family: var(--font-1);
}
.customization-info {
    display: flex;
    flex-flow: column nowrap;  
    row-gap: 10px;
    justify-content: center;
}
.custom-info-heading {
    display: flex;
    flex-flow: row nowrap;  
    column-gap: 20px;
}
.custom-info-heading div:nth-child(1) {
    font-family: var(--font-2);
    font-size: 18px;
    color: rgb(45,45,45);
}
.custom-info-subheading {
    color: rgb(142,141,141);
}
.custom-info-content {
    color: rgb(142,141,141);
}
.packages-status {
    color: rgb(142,141,141);
    text-transform: capitalize;
}

.payment_proof a {
    font-family: var(--font-1);
    color: rgb(83,118,152);
    text-decoration: underline;
}
@media screen and (max-width: 1560px) {
    .package {
        row-gap: 20px;
    }
    .package-title {
        font-size: 18px;
    }
    .package-list {
        row-gap: 50px;
    }
    #update-package1 .input-group,
    #update-package2 .input-group {
        display: flex;
        flex-flow: column nowrap;
    }
    #update-package1 .input-group label,
    #update-package2 .input-group label {
        font-family: var(--font-2);
        color: rgb(42,42,42);
        margin-bottom: 15px;
    }
    #update-package1 .input-group input[type=text],
    #update-package1 .input-group input[type=number],
    #update-package2 .input-group input[type=text],
    #update-package2 .input-group input[type=number] {
        background-color: #fff;
        width: 250px;
        border: 1px solid rgb(198,198,198);
        font-family: var(--font-1);
    }
    .customization-info {
        display: flex;
        flex-flow: column nowrap;  
        row-gap: 10px;
        justify-content: center;
    }
    .custom-info-heading {
        display: flex;
        flex-flow: row nowrap;  
        column-gap: 20px;
    }
    .custom-info-heading div:nth-child(1) {
        font-family: var(--font-2);
        font-size: 18px;
        color: rgb(45,45,45);
    }
    .custom-info-subheading {
        color: rgb(142,141,141);
    }
    .custom-info-content {
        color: rgb(142,141,141);
    }
    .packages-status {
        color: rgb(142,141,141);
        text-transform: capitalize;
    }

    .payment_proof a {
        font-family: var(--font-1);
        color: rgb(83,118,152);
        text-decoration: underline;
    }
}










