/* Admin bar top */
.admin_bar {
    padding: 0;
    letter-spacing: 1px;
    background-color: #fff;
    width: 100vw;
    position: fixed;
    z-index: 101;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.admin_bar .inner_div {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.site-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 40px;
}
.admin_bar .inner_div #navBtn span {
    color: #fff;
    height: 2px;
    width: 26px;
}
.admin_bar .inner_div #navBtn .rotate-left {
    top: 9px;
    right: 3px;
}
.admin_bar .inner_div #navBtn .rotate-right {
    top: 9px;
    right: 3px;
}
@media screen and (max-width: 1560px) {
    .admin_bar .inner_div {
        width: 90vw;
        height: 90px;
    }
}
@media screen and (max-width: 1280px) {
    .signout-link {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .admin_bar .inner_div {
        width: 90vw;
    }
}
@media screen and (max-width: 414px) {
    .admin_bar .inner_div {
        width: 340px;
    }
    .admin_bar a {
        font-size: 12px;
    }
}