.bg-section_banner {
    min-height: 400px;
    position: relative;
}
.bg-section_banner--background-image {
    /* background-image: url('../img/bjj3.jpg'); */
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 400px;
    min-width: inherit;
    background-attachment: fixed;
}
.bg-section_banner--background-shadow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    height: 400px;
    min-width: inherit;
}
.bg-section_banner--main {
    height: 400px;
    width: 100%;
    z-index: 3;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 30px;
}
/* title */
.bg-section_banner--title {
    font-size: 23px;
    line-height: .99;
    color: #fff;
    text-align: center;
    margin-left: 0;
    letter-spacing: .7px;
}
.bg-section_banner--subtitle {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgb(235, 235, 235);
    margin: 0 auto;
    margin-bottom: 30px;
}
.bg-section_banner .slider-outer-wrapper {
    position: absolute;
    z-index: 100;
    height: 200px;
    width: 40vw;
}
.bg-section_banner .slider-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
}
.bg-section_banner .slider-wrapper .slide.show-slide {   
    display: grid;
    align-items: center;
    justify-content: center;    
    row-gap: 10px;
    text-align: center;
    color: #fff;
    height: 150px;
}
/* .bg-section_banner .slider-outer-wrapper #slide-1 {
    display: flex;
} */
@media screen and (max-width: 1280px) {
    .bg-section_banner--title {
        font-size: 35px;
        line-height: 1.3;
        letter-spacing: .7;
    }
    .bg-section_banner .slider-outer-wrapper {
        width: 60vw;
    }
    .bg-section_banner .slider-dots {
        bottom: 0px;
    }
}
@media screen and (max-width: 800px) {
    .bg-section_banner--title {
        font-size: 30px;
        line-height: 1.3;
    }
    .bg-section_banner .slider-outer-wrapper {
        width: 80vw;
    }
    .bg-section_banner--title {
        font-size: 25px;
        line-height: 1.3;
        padding: 0 20px;
    }
}
@media screen and (max-width: 414px) {
    .bg-section_banner .slider-outer-wrapper {
        width: 90vw;
    }
    .bg-section_banner--subtitle {
        padding: 0 30px;
    }
}