:root {
        --color_0: rgb(6,33,52);
    --color_1: rgb(255,255,255);
    --color_2: rgb(0,0,0);
    --color_3: rgb(255,203,5);
    --color_4: rgb(0,136,203);
    --color_5: rgb(237,28,36);
    --color_6: rgb(6,33,52);
    --color_7: rgb(57,114,155);
    --color_8: rgb(255,255,255);
    --color_9: rgb(28,149,239);
    --color_10: rgb(28,149,239);
    --color_11: rgb(255,255,255);
    --color_12: rgb(209,224,235);
    --color_13: rgb(110,164,202);
    --color_14: rgb(57,114,155);
    --color_15: rgb(12,60,96);
    --color_16: rgb(169,225,236);
    --color_17: rgb(125,202,218);
    --color_18: rgb(30,171,199);
    --color_19: rgb(20,114,133);
    --color_20: rgb(10,57,66);
    --color_21: rgb(179,192,211);
    --color_22: rgb(135,148,167);
    --color_23: rgb(92,105,123);
    --color_24: rgb(49,62,79);
    --color_25: rgb(8,20,35);
    --color_26: rgb(177,219,210);
    --color_27: rgb(130,184,172);
    --color_28: rgb(62,148,129);
    --color_29: rgb(41,99,86);
    --color_30: rgb(21,49,43);
    --color_31: rgb(244,234,177);
    --color_32: rgb(233,219,137);
    --color_33: rgb(222,195,40);
    --color_34: rgb(148,130,27);
    --color_35: rgb(74,65,13);
}