/* Filters */
/* #filter {   
} */
.filter-head {
    font-size: 30px;
    color: var(--color5);
    font-family: var(--font-2);
    text-align: center;
}
.filter-body {
    /* border: 1px solid rgb(201,201,201); */
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;    
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 8%);
}
.filter-content {
    border-bottom: 1px solid rgb(201,201,201);
    padding: 30px 20px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}
.selection {
    width: 100%;
    position: relative;
    cursor: pointer;
}
.dropdown-trigger {
    border: 1px solid rgb(201,201,201);
    padding: 0px 20px;
    height: 55px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-2);
    width: 100%;
    cursor: pointer;
}
.option {
    padding: 0 20px;
    min-height: 55px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.option:hover {
    background-color: rgb(243, 243, 243);
}
.dropdown {
    width: 100%;
    border-left: 1px solid rgb(201,201,201);
    border-right: 1px solid rgb(201,201,201);
    border-bottom: 1px solid rgb(201,201,201);
    background-color: #fff;
}
.hideDropdown {
    display: none;
}
.showDropdown {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 10;
}
.filter-group {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}
.filter-footer {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.filter-footer-content {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
#filterBtn {
    width: 100%;
    color: #fff;
    background-color: rgb(255,125,0);
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    font-family: var(--font-2);
    cursor: pointer;
    border: none;
    box-shadow: none;
}
a.clear-filter {
    color: rgb(148, 148, 148);
    text-decoration: underline;
}

@media screen and (max-width: 1560px) { 
    .filter-head {
        font-size: 25px;
    }
    .filter-content {
        padding: 30px 20px;
        row-gap: 12px;
    }
    .dropdown-trigger {
        font-size: 14px;
        height: 38px;
    }    
    .showDropdown {
        top: 38px;
    }
    .option {
        padding: 0 20px;
        min-height: 38px;
    }
    #filterBtn {
        width: 100%;
        padding: 12px 0;
        font-size: 12px;
        border-radius: 8px;
    }
}