.hero-wrapper {
    height: 750px;
    width: 100vw;
    overflow: hidden;
}
.hero_banner {
    height: inherit;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
/* .hero_banner--background-image {
    background-position: 60% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 635px;
    min-width: inherit;
    background-attachment: fixed;
} */
.hero_banner--background-image { 
    position: fixed;
    top: 220px;
    z-index: 0;  
    height: inherit;  
    width: inherit;  
    z-index: -1;
}
.hero_banner--background-image img { 
    /* height: 1100px; */
    height: 100vh;
    object-fit: cover;
    margin-top: -20px;
    /* margin-left: -30px; */
    width: 100%;
}
.hero_banner--background-shadow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--hero-overlay);
    height: 750px;
    min-width: inherit;
}
.hero_banner--main {
    position: absolute;
    width: 100%;
    z-index: 3;
    /* bottom: 200px; */
    bottom: 120px;
    padding: 30px 0;
    display: grid;
    justify-items: flex-start; 
    align-items: center;
    justify-items: center;
    background-color: var(--hero-text-bg);
}
.hero_banner--content {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: flex-start; 
    row-gap: 15px; 
    padding-right: 35%;
    /* justify-items: center;
    align-items: center;
    text-align: center; */
}
/* title */
.hero_banner--title {
    font-size: 55px;
    /* margin: 0 auto; */
    max-width: 90%;
    color: var(--hero_title_color);
    text-align: left;
    font-family: var(--font-5);
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.hero_banner--subtitle {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--hero_subtitle_color);
    /* margin: 0 auto; */
    max-width: 90%;
    line-height: 1.8;
    text-transform: capitalize;
}
a.cta {
    width: 200px;
    height: 45px;
    display: grid;
    align-items: center;
    justify-items: center;
    transition: .2s;
    margin: 10px 0 0 0;
    color: var(--hero-cta-color);
    background-color: var(--hero-cta-bg);    
    /* border: 1px solid #fff; */
    border: none;
    font-family: var(--font-3);
}
a.cta:hover {
    color: var(--hero-cta-hover-color);
    background-color: var(--hero-cta-hover-bg);
    border: 2px solid #fff;
}
@media screen and (max-width: 1560px) {
    .hero-wrapper {
        height: 650px;
    }
    .hero_banner--background-image { 
        top: 170px;
    }
    .hero_banner--title {
        font-size: 35px;
        line-height: 1.3;
    }
}
@media screen and (max-width: 1280px) {
    .hero_banner--title {
        font-size: 35px;
        line-height: 1.3;
        letter-spacing: .7;
    }
    .hero_banner--background-shadow {
        height: 650px;
    }
    .hero_banner--main {
        bottom: 80px;
    }
    .hero_banner--content {
        width: 75%;
        padding-right: 25%;
    }
}

@media screen and (max-width: 800px) {
    .hero_banner--title {
        font-size: 30px;
        line-height: 1.3;
    }
    .hero_banner--background-image { 
        top: 0px;
    }
    .hero_banner--background-image img { 
        height: 120vh;
        margin-top: 0px;
        margin-left: -60%;
        width: 200%;
    }
    .hero_banner--content {
        width: 85%;
        padding-right: 15%;
    }
    .hero_banner--main {
        bottom: 100px;
    }
}
@media screen and (max-width: 414px) {
    .hero_banner--title {
        font-size: 30px;
        line-height: 1.3;
        padding: 0 30px;
    }
    .hero_banner--subtitle {
        padding: 0 30px;
    }
    .hero_banner--main {
        bottom: 120px;
    }
    .hero_banner--title {
        padding: 0;
    }
    .hero_banner--subtitle {
        padding: 0;
    }
}