#login-page {
    padding: 0px 0 0px 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #fff;
}
#login-page .page-content {
    width: 500px;
    margin: 0 auto;
}
#login-page .content-inner-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 100px;
    justify-content: center;
    align-items: center;
}
/* Form */
#login-page #signUp {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 30px;
}
#signUp input[type="text"],
#signUp input[type="number"],
#signUp input[type="date"],
#signUp input[type="password"] {
    background-color: rgb(250,250,250);
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    height: 50px !important;
}

@media screen and (max-width: 414px) {
    #login-page .page-content {
        width: 100%;
        margin: 0 auto;
    }
}