/* PRODUCT SLIDER */
#product-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 550px;
    row-gap: 20px;
}
#product-slider .slider-inner {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 20px;
}
#product-slider .slider-wrapper {
    width: 100%;
    height: 540px;
    /* background-color: #7dacd4; */
    background-color: #fff;
    /* background-color: #fdf8f5; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}
#product-slider .pslide {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: .7px;
    width: inherit;
    height: inherit;
    color: #4F4F4F;
}
#product-slider .pslide > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
#product-slider .slider-dots {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    margin: 10px auto 0 auto;
}
#product-slider .dot {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid rgb(216, 215, 211);
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}
#product-slider .dot img {
    width: 80%;
    height: 80%;
}
#product-slider .phide-slide {
    animation: .4s disappear ease-in-out forwards;
    transform-origin: 50% 50% 0px; 
    display: none;
}
#product-slider .pshow-slide {
    animation: .4s appear ease-in-out forwards;
    transform-origin: 50% 50% 0px; 
}
#product-slider .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -30px;
}
#arrow-1 {
    left: 20px;
}
#arrow-2 {
    right: 20px;
}
#product-slider .arrow i {
    font-size: 40px;
    opacity: .1;
}
@keyframes appear {
    0% {
        display: block;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
        display: block;
    }
    99% {
        opacity: 0;
        display: block;
    }
    100% {
        display: none;
    }
}

.slider-inner {
    position: relative;
    margin: 0 auto;
}


@media screen and (max-width: 1280px) {
    #product-slider {
        margin: 0;
        width: 80%;
        row-gap: 20px;
    }
    #product-slider .slider-wrapper {
        width: 100%;
        height: 600px;
    }
}
@media screen and (max-width: 800px) {
    #product-slider {
        margin: 0px auto 0 auto;
        width: 600px;
        row-gap: 20px;
    }
    #product-slider .slider-wrapper {
        width: 100%;
        height: 540px;
    }
}
@media screen and (max-width: 414px) {
    #product-slider {
        margin: 0px auto 0 auto;
        width: 100%;
        row-gap: 20px;
    }
    #product-slider .slider-wrapper {
        width: 100%;
        height: 350px;
    }
}
